:root {
    --primary-color: #add9f4;
    --background-color: #f5f3f3;
    --text-color: #000000;
    --secondary-color: #cc618a;
    --tertiary-color: #102b3f;
}
/* global styles */
body {
    margin: 0;
    padding: 0;
    font-family: 'Futura',sans-serif;
}

html {
    margin: 0;
}

ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}

a {
    text-decoration: none;
    color:inherit;
}

h1 {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

h2 {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
